.cabecalho{background-color: rgb(255, 0, 0);
            color: #f7e602;
        display: flex;
         justify-content: space-around;
    text-align: center;
}

.imagem-logo{width: 80px;}

.sobre{background-color: #f7e702;
        color: rgb(255, 0, 0);
    text-align: center;
    padding: 40px;
}
*{
    margin: 0;
    padding: 0;
}
.vendas{
    text-align: center;
    margin: auto;
    background-color: #f7ce02;
}
.vendas-div{
    display: inline-block;
    width: 30%;
    margin: 10px;
    background-color: aquamarine;
    padding-bottom: 20px;
}